/*.select2-search-choice-danger{*/
/*color: #f4786e !important; ;*/
/*}*/
body{
    color: #929292;;
}
div.value span{
    color: #4e4e4e;
}

.onoffswitch-inner:before {
    content: "Active";
    padding-left: 10px;
    background-color: #1ABC9C;
    color: #FFFFFF;
}
.onoffswitch.onoffswitch-success .onoffswitch-inner:before { background-color: #7FC8BA }
.onoffswitch.onoffswitch-danger .onoffswitch-inner:before { background-color: #f4786e }
.onoffswitch.onoffswitch-warning .onoffswitch-inner:before { background-color: #ffc107 }
.onoffswitch-inner:after {
    content: "Inactive";
    padding-right: 5px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}